:root {
  --blue: #2196f3;
  --white: #ffffff;
  --black: #212121;
  --gray: #2f303a;
  --light-gray: #757575;
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* Body section */
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

/* Header section */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header__logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.1;
  color: var(--black);
  text-decoration: none;
  text-transform: none;
}

.header__logo a {
  text-decoration: none;
}

.header__logo span {
  color: var(--blue);
  text-decoration: none;
}

.header__logo b {
  color: var(--black);
}

.header__navigation {
  display: flex;
  gap: 50px;
}

.header__navigation a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  color: var(--black);
  position: relative;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header__navigation a:hover {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header__navigation a:hover::after,
.header__navigation a:active::after {
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: var(--blue);
}

.page-studio .header__navigation a.studio::after {
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: var(--blue);
}

.page-portfolio .header__navigation a.portfolio::after {
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: var(--blue);
}

.header__contacts-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header__contacts-info-item {
  display: flex;
  align-items: center;
}

.header__contacts-info-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  color: var(--light-gray);
}

.header__contacts-info-item .icon {
  fill: rgba(117, 117, 117, 1);
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.header__contacts-info-item a:hover,
.header__contacts-info-item a:hover .icon {
  color: var(--blue);
  fill: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Hero section */

.hero-section {
  background-color: var(--gray);
  display: flex;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg-image-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 200px;
  margin-bottom: 30px;
}

.hero__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid;
  border-color: var(--blue);
  margin-bottom: 200px;
  width: 200px;
  height: 50px;
  align-self: center;
}

/* What we do section */

.whatwedo-section .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.whatwedo__skills-container .icon {
  height: 70px;
  width: 62.32px;
}

.whatwedo__icon {
  background-color: rgba(245, 244, 250, 1);
  height: 120px;
  margin-bottom: 30px;
}

.whatwedo__icon .icon {
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.whatwedo__skills {
  height: 251px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 94px;
  margin-bottom: 70px;
}

.whatwedo__skills-item {
  width: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--light-gray);
}

.whatwedo__skills-item strong {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--black);
}

.whatwedo__visuals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatwedo__visuals-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--black);
  text-align: center;
  margin-bottom: 50px;
}

.whatwedo__visuals-img-container {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}

.whatwedo__visuals-img-box {
  position: relative;
}

.overlay-wwd {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.48px;
}

/* Our Team section */

.team-section {
  background-color: #f5f4fa;
}

.team-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--black);
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.team__container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--black);
  text-align: center;
  padding-top: 30px;
}

.team__role {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--light-gray);
  text-align: center;
  padding-bottom: 16px;
  padding-top: 10px;
}

.team__card {
  width: 270px;
  height: 428px;
  background-color: var(--white);
  margin-bottom: 94px;
}

.team__card:hover {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team__socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__socials .icon {
  fill: rgba(175, 177, 184, 1);
  stroke: rgba(175, 177, 184, 1);
  width: 20px;
  margin: 12px;
  justify-content: center;
  align-items: center;
}

.team__socials li {
  background-color: var(--white);
  border-radius: 50%;
}

.team__socials li:hover {
  background-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team__socials li:hover .icon {
  fill: var(--white);
  stroke: var(--white);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Customers section style */

.customers-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--black);
  margin-top: 94px;
  margin-bottom: 50px;
}

.customers__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 94px;
}

.customers__box {
  border: solid 1px rgba(175, 177, 184, 1);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__box .icon {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
}

.customers__box li:hover .icon {
  fill: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.customers__box:hover {
  border: solid 1px var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* PORTFOLIO STYLE */

/* Filters section style */

.filters-section {
  text-align: center;
}

.filters-section button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  height: 38px;
  border-radius: 4px;
  margin-bottom: 50px;
  margin-top: 94px;
  font-family: var(--primary-font);
  padding: 6px 22px 6px 22px;
}

.filters-section button:hover {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filters-section button:focus {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Portfolio section */

.portfolio-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 94px;
}

.portfolio__container-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-align: left;
  color: var(--black);
  text-decoration: none;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
}

.portfolio__container-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
  color: var(--light-gray);
  padding-left: 24px;
  margin-bottom: 20px;
}

.portfolio__container {
  border: 1px solid rgba(238, 238, 238, 1);
}

.portfolio__container:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.portfolio__container:hover .overlay-portfolio {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Footer style */

.footer {
  background-color: var(--gray);
  font-family: var(--primary-font);
  text-transform: none;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 251px;
}

.footer__logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.1;
  color: var(--black);
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 28px;
}

.footer__logo a {
  text-decoration: none;
}

.footer__logo span {
  color: var(--blue);
  text-decoration: none;
}

.footer__logo b {
  color: var(--white);
  text-decoration: none;
}

.footer__contact {
  color: rgba(255, 255, 255, 1);
  font-family: var(--primary-font);
  text-decoration: none;
  margin-right: 70px;
}

.footer__contact-address {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  font-style: normal;
}

.footer__contact-item-1 {
  margin-bottom: 12px;
}

.footer__contact-item-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}

.footer__contact-item-2 a {
  text-decoration: none;
  color: var(--light-gray);
}

.footer__contact-item-2 a:hover {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  text-decoration: none;
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Footer socials style */
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socials__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  font-family: var(--primary-font);
  margin-bottom: 20px;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__socials .icon {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
  width: 20px;
  margin: 12px;
}

.footer__socials li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__socials li:hover {
  background-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer__socials li:hover .icon {
  fill: var(--white);
  stroke: var(--white);
  width: 20px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Footer subscription style */
.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 93px;
}

.subscription__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  font-family: var(--primary-font);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscription__input {
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: -1px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--light-gray);
  padding-left: 16px;
  margin-right: 12px;
}

.subscription__input:hover,
.subscription__input:focus {
  border-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.subscription__btn {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
}

.subscription__btn svg {
  height: 24px;
  width: 24px;
  margin-left: 25px;
}

/* default style */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 10px;
  height: 16px;
}

/* MODAL style*/

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

[data-modal] {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.is-hidden [data-modal-content] {
  transform: scale(0.5);
  transition: transform 0.5s ease;
}

[data-modal-content] {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--white);
  position: absolute;
  top: 20%;
  left: 35%;
  transform: scale(1);
  transition-duration: 1.5s;
  padding: 40px 40px;
}
[data-modal-close] {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 11px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white);
  padding: 6px;
}

.modal-title {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black);
  padding-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__position {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--light-gray);
  position: relative;
}

.modal-form__position svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 42px;
  left: 15px;
}

.modal-form__position input {
  padding-left: 40px;
}

.modal-form__position input:focus + svg,
.modal-form__position input:hover + svg {
  fill: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-form__input {
  outline: none;
  margin-top: 4px;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 12px;
}

.modal-form__input:hover,
.modal-form__input:focus {
  border-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-form__comments {
  outline: none;
  margin-top: 4px;
  border-radius: 4px;
  height: 35px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 16px;
  padding-top: 12px;
  height: 120px;
}

.modal-form__comments:hover,
.modal-form__comments:focus {
  border-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-form__checked {
  flex-direction: row;
  align-items: center;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: var(--light-gray);
  text-align: left;
  gap: 8px;
  justify-content: center;
  padding-bottom: 15px;
}

.condition {
  color: var(--blue);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.modal-form__input[type='checkbox'] {
  display: none;
}

.modal-checkbox__position {
  position: relative;
  width: 16px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
}

.modal-form__input[type='checkbox']:checked + .replace-checkbox {
  background-color: var(--blue);
  border-color: var(--blue);
}

.modal-checkbox__position svg {
  position: absolute;
  height: 12px;
  width: 14px;
  top: -1px;
  left: -1px;
  display: none;
}

.modal-form__input[type='checkbox']:checked + .modal-checkbox__position svg {
  display: block;
}

.modal-form__btn {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
}
